.new {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#article1 {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
}

#article2 {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#article3 {
    position: relative;
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    background-image: url(tokyo-at-night.jpg);
    height: 100%;
    background-size: cover;
    /* opacity: 0.7; */
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    position: top;
    line-height: 100px;
    color: whitesmoke;
}

h3 {
    text-align: center;
}

p {
    letter-spacing: 1.5px;
}

body {
    background-color: whitesmoke;
    opacity: 0.95;
    margin: 0px;
}

p {
    text-align: center
}

li {
    text-align: left;
}

.footer {
    margin-top: 100px;
    height: 100px;
    width: 100%;
    background-image: url(black.jpg);
    /*opacity: 0.7;*/
    color: rgb(7, 7, 7);
    text-align: center;
    position: relative;
}

.footer p {
    line-height: 100px;
}

;